.temp
compile-errors.log
compile.log
ext/.libs
ext/autom4te.cache
ext/autom4te.cache
ext/build
ext/modules
ext/.deps
ext/acinclude.m4
ext/alocal.m4
ext/config.guess
ext/config.h
ext/config.h.in
ext/config.log
ext/config.nice
ext/config.status
ext/config.sub
ext/configure
ext/configure.in
ext/install-sh
ext/libtool
ext/ltmain.sh
ext/Makefile
ext/Makefile.fragments
ext/Makefile.global
ext/Makefile.objects
ext/missing
ext/mkinstalldirs
ext/run-tests.php
ext/wechat.la
ext/wechat.lo